@font-face {
	font-family: Impact;
	src: url("../KingJigglypuff.github.io/Resources/Fonts/impact.ttf") format('truetype');
}

Font1 {
	font-family: Impact;
	font-size: 3em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

video {
  display: block;
  margin: 0 auto;
  width: 40%;
}