html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  background: #031203;
  color: #fff;
  margin: 0px;
}

a {
  color: #8fa6ff;
  text-decoration: none;
}

a,
a:hover,
a:active,
a:visited {
  outline: 0px;
}

a:hover {
  color: #bfcbfa;
}

img {
  outline: 0;
  border: 0;
}

clear {
	display: block;
	height: 10px;
	clear: both;
}

hr {
	border-color: #368640;
}

/* Header Block */

header {
	height: 270px;
	width: 100%;
	border-bottom: 5px solid white;
}

.logo {
	position: absolute;
	width: 100%;
	text-align: center;
}

/* End Header Styles */


/* Navigation Menu */

.menu_div {
	background: rgba(0, 0, 0, .75);
	position: absolute;
	top: 234px;
	width: 100%;
}

nav.menu {
	font-size: 18px;
	text-align: center;
}

nav.menu li {
	margin: 0px -3px;
	display: inline-block;
	width: 260px;
}

nav.menu li a {
	font-family: 'Source Sans Pro', sans-serif;
	padding-top: 8px;
	height: 28px;
	display: block;
	width: 100%;
	color: white;
	-moz-transition: all .15s;
    -webkit-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;
}

nav.menu li a.active {
	background: #267932;
}

nav.menu li a:hover {
	background: #398A46;
}

/* End Navigation Styles */

/* Content area */

.main {
	padding: 15px 0px;
	border-bottom: 5px solid white;
}

.content {
	margin-bottom: 10px;
}

.content h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 36px;
	color: white;
	font-weight: bold;
	margin-bottom: 4px;
	line-height: 1em;
}

.content section h1 {
	margin: 12px 0px;
	font-size: 28px;
}

.content section {
	background: #133617;
	border: 2px solid #368640;
	margin-bottom: 10px;
	padding: 10px;
	-webkit-box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    -1px 2px 2px rgba(0, 0, 0, 0.75);
	box-shadow:         -1px 2px 2px rgba(0, 0, 0, 0.75);
	text-shadow:         1px 1px 0px rgba(0, 0, 0, 0.75);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.char_img, .char_slides {
	width: 320px;
	height: 240px;
	float: right;
	border: 3px solid #368640;
	margin-left: 10px;
	position: relative;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.char_slides img, video {
	position: absolute; 
	top: 0px; 
	width: 320px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

/* End content styles */

/* Footer styles */

footer {
	padding-top: 15px;
	height: 50px;
	text-align: center;
}

/* End Footer */

/* Impact font */

@font-face {
	font-family: "Impact";
	src: url("../Fonts/impact.ttf") format("truetype");
}

Font1 {
	font-family: "Impact";
	font-size: 4em;
}

/* Dropdown Menu */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.75);
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 10px 0px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown:hover .dropdown-content {
  display: block;
}

details {
  position: absolute;
  background-color: rgba(0,0,0,1);
  width: 320px;
  box-shadow: 0px 8px 16px 0px rgba(0,192,0,0.4);
}

#myDIV {
display: none;
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
}